@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme inline {
  --color-primary: var(--color-indigo-600);
  --color-secondary: var(--color-orange-600);
  --color-info: var(--color-blue-600);
}

@layer base {
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(24 9.8% 10% / 0.3);
    border-radius: 5px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}
